.about-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  text-align: left;
  gap: 40px;
  padding: 20px;
}
.about-section {
  width: 40%;
  color: white;
  font-size: 1em;
  font-family: "Comic Sans MS", cursive;
}
.about-text {
  margin-top: 10px;
}
.email {
  color: aqua;
}
.email:hover {
  text-decoration: underline;
}
