body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-form {
  align-items: center;
  padding: 20px;
  max-width: 500px;
  margin: 10vw 10vh;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

label {
  width: 100px;
  font-size: 16px;
  color: white;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.login-form input[type="submit"] {
  width: 100%;
  padding: 10px;
  background: linear-gradient(90deg, #1db954, #191414);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-form input[type="submit"]:hover {
  background-color: #0056b3;
}

.login-form input[type="submit"]:active {
  background-color: #004494;
}
