body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #1a1a1a;
}
h1 {
  color: #1db954;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  background: linear-gradient(180deg, #1db954, #1a1a1a);
  z-index: 1000;
  gap: 10px;
}
.header-left {
  position: fixed;
  top: 0;
  right: 0;
  height: 20vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  background: linear-gradient(180deg, #1db954, #1a1a1a);
  z-index: 1000;
  gap: 10px;
}
.logo {
  width: 8vw;
  height: auto;
  vertical-align: middle;
}
.btn-55,
.btn-55 *,
.btn-55 :after,
.btn-55 :before,
.btn-55:after,
.btn-55:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-55 {
  -webkit-tap-highlight-color: transparent;
  appearance: button;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  mask-image: -webkit-radial-gradient(#000, #fff);
  background: linear-gradient(90deg, #1db954, #1a1a1a);
  border-radius: 999px;
  box-sizing: border-box;
  color: #000;
  display: block;
  font-weight: 900;
  overflow: hidden;
  padding: 1.8rem 5rem;
  position: relative;
  text-transform: uppercase;
}
.btn-55:disabled {
  cursor: default;
}
.btn-55:-moz-focusring {
  outline: auto;
}
.btn-55 svg {
  display: block;
  margin: auto;
}
.btn-55 [hidden] {
  display: none;
}
.btn-55 span {
  background: #1e293b;
  border-radius: 999px;
  color: #fff;
  display: grid;
  inset: 5px;
  place-items: center;
  position: absolute;
  transition: background 0.3s;
}
.btn-55:hover span {
  background: none;
}
.search-bar {
  position: relative;
  border: none;
  padding: 1rem 3rem;
  border-radius: 999px;
  background: #1e293b;
  color: white;
  font-size: 16px;
  width: 250px;
  outline: none;
  caret-color: white;
}
.search-bar.clicked {
  outline: none;
}
.search-bar-wrapper {
  position: relative;
  display: inline-block;
  border-radius: 999px;
}
.search-bar-wrapper::before {
  content: "";
  position: absolute;
  inset: -4px; /* Controls border thickness */
  border-radius: inherit;
  background: linear-gradient(90deg, #1db954, #191414);
  z-index: -1;
}
.intro {
  position: absolute;
  top: 9em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #1a1a1a;
  z-index: 1000;
}
